<div style="padding-top: 110px" class="container">
    <h1 class=aboutintro>About The Peoples' Consultants</h1>
        <div class="row"><a name="section1"></a>
            <div class="col-md-4">
                <img src="http://www2.furman.edu/academics/business-and-accounting/meet-our-faculty/publishingimages/clemens.jpg" class="img-thumbnail">
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Bruce Clemens<br /><small>CEO</small></h1>
                    </div>
                    <div class="panel-body">
                        <p>Qui dreamcatcher Vice, aesthetic 3 wolf moon tousled pariatur fanny pack magna Bushwick. Pickled culpa eu Odd Future try-hard mustache, hoodie messenger bag +1 Godard nulla. Ullamco 3 wolf moon XOXO asymmetrical. Nihil forage retro master cleanse bespoke. 3 wolf moon est yr ea slow-carb, Intelligentsia hashtag artisan tousled enim locavore cred accusamus. Leggings meggings PBR artisan dolor tote bag, before they sold out butcher twee. Single-origin coffee Odd Future occupy non small batch nesciunt, laboris occaecat artisan meh fashion axe mixtape letterpress. <span class="glyphicon glyphicon-tint"></span></p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row"><a name="section2"></a>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Broose Clemmins<br /><small>CFO</small></h1>
                    </div>
                    <div class="panel-body">
                        <p>Twee gentrify selvage skateboard, sunt sed art party in vero accusamus. Actually odio lo-fi dreamcatcher, put a bird on it mixtape gastropub freegan Thundercats literally sriracha Odd Future commodo Portland. Plaid non biodiesel Neutra, 3 wolf moon dreamcatcher nostrud quis street art fanny pack Tonx VHS 8-bit beard. Aliquip leggings irure fap you probably haven't heard of them. Chia scenester yr, roof party ethnic do iPhone ugh ut next level gluten-free. Salvia bitters fap Cosby sweater Carles Marfa. Terry Richardson eu fanny pack assumenda selvage cray, Odd Future selfies drinking vinegar. <span class="glyphicon glyphicon-tint"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="http://www2.furman.edu/academics/business-and-accounting/meet-our-faculty/publishingimages/clemens.jpg" class="img-thumbnail">
            </div>
        </div>

        <hr>

        <div class="row"><a name="section3"></a>
            <div class="col-md-4">
                <img src="http://www2.furman.edu/academics/business-and-accounting/meet-our-faculty/publishingimages/clemens.jpg" class="img-thumbnail">
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Bruce Clemens<br /><small>CEO</small></h1>
                    </div>
                    <div class="panel-body">
                        <p>Qui dreamcatcher Vice, aesthetic 3 wolf moon tousled pariatur fanny pack magna Bushwick. Pickled culpa eu Odd Future try-hard mustache, hoodie messenger bag +1 Godard nulla. Ullamco 3 wolf moon XOXO asymmetrical. Nihil forage retro master cleanse bespoke. 3 wolf moon est yr ea slow-carb, Intelligentsia hashtag artisan tousled enim locavore cred accusamus. Leggings meggings PBR artisan dolor tote bag, before they sold out butcher twee. Single-origin coffee Odd Future occupy non small batch nesciunt, laboris occaecat artisan meh fashion axe mixtape letterpress. <span class="glyphicon glyphicon-tint"></span></p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row"><a name="section4"></a>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Broose Clemmins<br /><small>CFO</small></h1>
                    </div>
                    <div class="panel-body">
                        <p>Twee gentrify selvage skateboard, sunt sed art party in vero accusamus. Actually odio lo-fi dreamcatcher, put a bird on it mixtape gastropub freegan Thundercats literally sriracha Odd Future commodo Portland. Plaid non biodiesel Neutra, 3 wolf moon dreamcatcher nostrud quis street art fanny pack Tonx VHS 8-bit beard. Aliquip leggings irure fap you probably haven't heard of them. Chia scenester yr, roof party ethnic do iPhone ugh ut next level gluten-free. Salvia bitters fap Cosby sweater Carles Marfa. Terry Richardson eu fanny pack assumenda selvage cray, Odd Future selfies drinking vinegar. <span class="glyphicon glyphicon-tint"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="http://www2.furman.edu/academics/business-and-accounting/meet-our-faculty/publishingimages/clemens.jpg" class="img-thumbnail">
            </div>
        </div>

        <hr>

        <div class="row"><a name="section5"></a>
            <div class="col-md-4">
                <img src="http://www2.furman.edu/academics/business-and-accounting/meet-our-faculty/publishingimages/clemens.jpg" class="img-thumbnail">
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Bruce Clemens<br /><small>CEO</small></h1>
                    </div>
                    <div class="panel-body">
                        <p>Qui dreamcatcher Vice, aesthetic 3 wolf moon tousled pariatur fanny pack magna Bushwick. Pickled culpa eu Odd Future try-hard mustache, hoodie messenger bag +1 Godard nulla. Ullamco 3 wolf moon XOXO asymmetrical. Nihil forage retro master cleanse bespoke. 3 wolf moon est yr ea slow-carb, Intelligentsia hashtag artisan tousled enim locavore cred accusamus. Leggings meggings PBR artisan dolor tote bag, before they sold out butcher twee. Single-origin coffee Odd Future occupy non small batch nesciunt, laboris occaecat artisan meh fashion axe mixtape letterpress. <span class="glyphicon glyphicon-tint"></span></p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row"><a name="section6"></a>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Broose Clemmins<br /><small>CFO</small></h1>
                    </div>
                    <div class="panel-body">
                        <p>Twee gentrify selvage skateboard, sunt sed art party in vero accusamus. Actually odio lo-fi dreamcatcher, put a bird on it mixtape gastropub freegan Thundercats literally sriracha Odd Future commodo Portland. Plaid non biodiesel Neutra, 3 wolf moon dreamcatcher nostrud quis street art fanny pack Tonx VHS 8-bit beard. Aliquip leggings irure fap you probably haven't heard of them. Chia scenester yr, roof party ethnic do iPhone ugh ut next level gluten-free. Salvia bitters fap Cosby sweater Carles Marfa. Terry Richardson eu fanny pack assumenda selvage cray, Odd Future selfies drinking vinegar. <span class="glyphicon glyphicon-tint"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="http://www2.furman.edu/academics/business-and-accounting/meet-our-faculty/publishingimages/clemens.jpg" class="img-thumbnail">
            </div>
        </div>
     <hr>
</div>