<!-- FOOTER -->
<div class="container">
<hr class="featurette-divider">
<div class="row">
        <footer class="divider">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>Tattooed American Apparel. <a href="http://www.bootply.com/62603">Tattooed American Apparel</a></p>
        </footer>
</div>
</hr>
</div>
