<div class="container">
    <!-- Nav Bar
    =========================================== -->
    <div class="row">
        <div class="navbar-wrapper">
            <div class="container">
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <a style="font-family: Futura" href="/" class="navbar-brand">The Peoples' Consultants</a>
                        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse navHeaderCollapse">
                            <ul class="nav navbar-nav">
                                <!--<li><a href="#">Home</a></li>-->
                                <li><a style="font-family: Futura" href="/about">About Us</a></li>
                                <li><a style="font-family: Futura" href="/about">Projects</a></li>
                                <li><a style="font-family: Futura" href="/experience">Experience</a></li>
                                <li><a style="font-family: Futura" href="/donate">Donate</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
  </div>